Source: ros-humble-libcamera
Section: misc
Priority: optional
Maintainer: Christian Rauch <Rauch.Christian@gmx.de>
Build-Depends: debhelper (>= 9.0.0), libatomic1, libssl-dev, libudev-dev, libyaml-dev, meson, openssl, pkg-config, pybind11-dev, python3-dev, python3-jinja2, python3-ply, python3-yaml, ros-humble-ros-workspace
Homepage: https://libcamera.org
Standards-Version: 4.6.0

Package: ros-humble-libcamera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libatomic1, libssl-dev, libudev-dev, libyaml-dev, python3-dev, ros-humble-ros-workspace
Description: An open source camera stack and framework for Linux, Android, and ChromeOS
